# Copie este arquivo para .env e preencha os valores

# String de conexão do MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<senha>@cluster.mongodb.net/apitodo?appName=Cluster0

# Chave secreta JWT (mínimo 256 bits em base64)
JWT_SECRET=2Sf5Ajd69W4DHTMIuWHe9I4d038eO9Onkna29/fC/swZMMGD5ZStTVw0587mJE/2
